{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Power hotels: Home</title>
        <link href="{% static 'css/bootstrap.min.css' %}"  rel="stylesheet">
        <style></style>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container">
                <a href="{% url 'home' %}" class="navbar-brand">Power Hotels</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navmenu">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a href ="{% url 'allroom' %}" class="nav-link"><p>All Rooms</p></a>
                        </li>
                        <li class="nav-item">
                            <a href ="#contact" class="nav-link"><p>Contact</p></a>
                        </li>
                        

                    </ul>
                </div>
            </div>            
        </nav>
        
        <section class="bg-dark text-light p-5 text-sm-start">
            <div class="container">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div>
                        <h1>Power Hotels</h1>
                        <br>
                        <p class="lead my-4">Power hotels is a 5-star all time hotel with the best rooms and recreational centers. Vacation with family?, Work?, Solo vacation?. We've got you. We have beach rooms, game rooms, Romantic rooms etc.</p>
                        <a href ="#booking"><button class="btn btn-primary btn-lg">Book Now</button></a>
                    </div>
                    <img src="{% static 'img/icon.png' %}" class="img-fluid w-50 d-none d-sm-block">
                </div>
            </div>
        </section>

        <br>

        <section class="p-5">
            <div class="container" id="booking">
                <div class="row text-center">
                    {% for room in room %}
                        <div class="col-sm">
                            <div class="card bg-dark text-light">
                                <div class="card-body text-center">
                                    <div>
                                        {% if room.image %}
                                            <img src="{{ room.image.url }}" width="200px" height="100px">
                                        {% endif %}
                                    </div>
                                    <h4 class="card-title">
                                        {{ room.name }}
                                    </h4>

                                    <p class="card-text">
                                        Description: {{ room.description }} <br>
                                        Cost: ${{ room.costper_night }}
                                    </p>
                                    {% if room.is_booked %}   
                                        <p class="card-text">The room is booked</p>
                                    {% else %}
                                    <a href="room/{{ room.id }}"><button class="btn btn-primary btn-md">Book it</button></a>
                                    {% endif %}
                                </div>
                            </div>
                            <br>
                        </div>
                        
                    {% endfor %}
                    
                </div>
            </div>
        </section>

        <section class="p-5">
            <div class="container" id="contact">
                <div class="row g-4">
                    <div class="col-md">
                        <h2 class="text-center mb-4">Contact Us</h2>
                        <ul class="list-group list-group-flush lead">
                            <li class="list-group-item">
                                <span class="fw-bold">Email: </span>marksyapoe@gmail.com
                            </li>
                            <li class="list-group-item">
                                <span class="fw-bold">Whatsapp: </span>+234 7061796025
                            </li>
                            <li class="list-group-item">
                                <span class="fw-bold">Twitter: </span>@mark_syapoe
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>